<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Ingrediente form:</title>
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}"/>
</head>
<body class="bg-secondary-subtle">
	<h1 class="text-center mt-2 mb-5 text-white">Nuovo Ingrediente:</h1>
	<div class="container">
		<div class="row g-0 d-flex justify-content-center">
			<div class="col-12 col-md-4 col-md-3">
				<div class="bg-primary p-5 rounded-3">
					<form
						th:object="${ingrediente}"
						method="POST"
					>
						<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
					  <div class="mb-3">
					    <label for="nome" class="form-label text-white">Ingrediente</label>
					    <input type="text" class="form-control mb-2" id="nome" th:field="*{nome}">
					  </div>
					  
					  <button type="submit" class="btn btn-success" value="STORE">Crea ingrediente</button>
					</form>					
				</div>
			</div>
		</div>
	</div>
</body>
</html>