<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Pizza form:</title>
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}"/>
</head>
<body class="bg-secondary-subtle">
	<h1 class="text-center mt-2 mb-5 text-white">Nuova Pizza:</h1>
	<div class="container">
		<div class="row g-0 d-flex justify-content-center">
			<div class="col-12 col-md-4 col-md-3">
				<div class="bg-primary p-5 rounded-3">
					<form
						th:object="${pizza}"
						method="POST"
					>
						 <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
					  <div class="mb-3">
					    <label for="nome" class="form-label text-white">Nome</label>
					    <input type="text" class="form-control mb-2" id="nome" th:field="*{nome}">
					    <div id="nome" class="form-text" th:replace="frags::errorDiv('nome')"></div>
					  </div>
					  <div class="mb-3">
					    <label for="descrizione" class="form-label text-white">Descrizione</label>
					    <input type="text" class="form-control mb-2" id="descrizione" th:field="*{descrizione}">
					    <div id="descrizione" class="form-text" th:replace="frags::errorDiv('descrizione')"></div>
					  </div>
					  <div class="mb-3">
					    <label for="foto" class="form-label text-white">Foto</label>
					    <input type="text" class="form-control mb-2" id="foto" th:field="*{foto}">
					    <div id="foto" class="form-text" th:replace="frags::errorDiv('foto')"></div>
					  </div>
					  <div class="mb-3">
					    <label for="prezzo" class="form-label text-white">Prezzo</label>
					    <input type="number" class="form-control mb-2" id="prezzo" step="any" th:field="*{prezzo}">
					    <div id="prezzo" class="form-text" th:replace="frags::errorDiv('prezzo')"></div>
					  </div>
					  <h4>Ingredienti:</h4>
						<div
							th:each="ingrediente : ${ingredienti}"
							th:object="${ingrediente}"
						>	
							<input 
								type="checkbox"
								th:id="${'ingrediente-' + ingrediente.id}" 
								th:value="*{id}" 
								th:field="${pizza.ingredienti}"
							>
							<label
								th:for="${'ingrediente-' + ingrediente.id}"
							>[[*{nome}]]</label>
							<br>
						</div>		
					  <button type="submit" class="btn btn-success" value="STORE">Crea pizza</button>
					</form>					
				</div>
			</div>
		</div>
	</div>
</body>
</html>