<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Best Pizzas</title>
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}"/>
</head>
<body class="bg-secondary-subtle">
	<div class="container">
		<div class="row mb-3">
			<div class="col-12">
				<h1 class="text-center mt-2 mb-5 text-white">Pizzas:</h1>
			</div>
		</div>
		<div class="row d-flex justify-content-center mb-5">
			<div class="col-12 col-md-6">
				<div class="bg-primary p-5 rounded-3">
					<form class="d-flex">
					  <div class="mb-3 me-3">
					    <input type="text" class="form-control" id="search" name="p" th:value="${p}">
					  </div>
					  <div>
					  	<button type="submit" class="btn btn-warning text-white" value="SEARCH">Cerca pizza</button>
					  </div>
					</form>		
					<div
						
					>
						<a href="/pizzas/ingredienti">
							<button class="btn btn-success mb-3 me-2">
								Lista Ingredienti
							</button>									
						</a>	
						<a href="/pizzas/create" sec:authorize="hasAuthority('ADMIN')">
							<button class="btn btn-success mb-3 me-2">
								Crea Nuova Pizza
							</button>									
						</a>										
					</div>		
					<a href="/pizzas/offerta" sec:authorize="hasAuthority('ADMIN')">
						<button class="btn btn-success mb-3 me-2">
							Crea nuova offerta speciale
						</button>									
					</a>										
				</div>
			</div>
		</div>
		<div class="row g-0">
			<div 	
				th:each="pizza : ${pizzas}"
				th:object="${pizza}"
				class="card m-3 d-flex col-12 col-md-4 col-lg-3" style="width: 18rem;">
			  <img th:src="*{foto}" class="card-img-top" alt="..." style="height: 14rem; max-width: 18rem;">
			  <div class="card-body text-center">
				  <a
						th:href="@{/pizzas/{id}(id=*{id})}"
					>
				    	<h5 class="card-title badge text-bg-primary">[[*{nome}]]</h5>								
					</a>
			    <p class="card-text">[[*{descrizione}]]</p>
			  </div>
			  	<p class="text-center">[[*{prezzo}]]€</p>
				<div class="d-flex justify-content-center mb-3" sec:authorize="hasAuthority('ADMIN')">				
					<a th:href="@{/pizzas/edit/{id} (id=*{id})}">
						<button class="btn btn-primary">
							Modifica la Pizza
						</button>									
					</a>										
				</div>	
				<form 
					style="display:inline-block"
					th:action="@{/pizzas/delete/{id} (id=*{id})}"
					method="POST" sec:authorize="hasAuthority('ADMIN')">
					<div class="d-flex justify-content-center mb-3">
						<button type="submit" class="btn btn-danger" value="DELETE">
							Elimina la Pizza
						</button>
					</div>	
				</form>
			</div>
		</div>
	</div>
</body>
</html>